# Simple Classifier
In der vergangenen Übung haben Sie einiges über die Struktur der Daten gelernt. Nun sollen Sie dieses Wissen einsetzen um eine erste Vorhersage auf einem Testdatensatz zu treffen. Im folgenden werden die notwendigen Imports getätigt und das Dataset eingelesen.

### Imports

In [52]:
import numpy as np
import csv as csv
import matplotlib.pyplot as plt
import pandas as pd
import itertools
%matplotlib inline

### Daten einlesen

In [53]:
DATA_FILE = './Data/original_titanic.csv'
# TODO : implement
df = pd.read_csv(DATA_FILE, header=0)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Boat,Body,Home-Dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,0,1,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Datenlücken interpolieren

Gerne können Sie zum Füllen der Datenlücken auch Ihre Implementierung aus dem vorherigen Arbeitsblatt einsetzen.

In [54]:
def prepareData(df):
    #to set a selection of a data frame please dont use the chained [] operator, but the .loc operator
    #(see http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy for details)
    
    #minimal working example to set all null age values to 42 - probably you can do better :-)
    df['Age'] = df.groupby(['Sex','Pclass', 'Survived'])['Age'].transform(lambda x:x.fillna(x.median()))
    return df
    
df = prepareData(df)

### Datensatz stochastisch verändern

Es wird der komplette Datensatz durchmischt. Finden Sie hierfür geeignete Methoden (Python, Numpy, Pandas). Geben Sie die ersten fünf Zeilen des durchmischten Datensatzes aus. Weisen Sie nach, dass lediglich die Reihenfolge der Daten geändert wurde und <b>nicht(!)</b> die Merkmals-Spalten.

In [55]:
# df_shuffled = df.reindex(np.random.permutation(df.index)) # TODO: implement

In [56]:
df_shuffled = df.sample(frac=1).reset_index(drop=True)

### Aufteilung in Trainings- und Testdatensatz

Teilen Sie den stochastisch veränderten Datensatz in Trainings- und Testdatensatz mit der Verteilung von 80% (Train) zu 20% (Test) auf. Geben Sie die Länge der Datensätze aus.

In [57]:
# len_train = int(len(df_shuffled) * 0.8 )

# df_train = df_shuffled[:len_train] # TODO: implement
# df_test  = df_shuffled[len_train+1:] # TODO: implement

# print(len(df_shuffled))
# print(len(df_train))
# print(len(df_test))

In [58]:
df_train=df_shuffled.sample(frac=0.8,random_state=1)
df_test=df_shuffled.drop(df_train.index)

### Performance von Machine Learing Algorithmen

Die Performance von Machine Learing Algorithmen kann unter anderem anhand der Korreklassifizierungsrate (engl. Accuracy) ermittelt werden. Diese wird über die Verwechslungsmatrix (engl. Confusion matrix) (siehe Abbildung) wie folgt definiert: <br>

TP = True Positive <br>
TN = True Negative <br>
FP = False Positive <br>
FN = False Negative <br>
ACC = Accuracy <br>

$ACC = \frac{(TP + TN)} {(TP+TN+FP+FN)}$

<img src="./Figures/Confusion-Matrix.png" alt="drawing" style="width:300px;"/>

### Implementierung des Algorithmus

Schreiben Sie eine Funktion um die Klasse *Survived*, mit ihren beiden Ausprägungen 0 und 1, anhand von einem oder mehreren Merkmalen vorherzusagen. Verwenden Sie dazu ein einfaches Modell in welchem Sie ihr bisheriges Wissen über den Datensatz einsetzen.

In [59]:
def predict(vector):
    # TODO: implement
#     if (vector.Age >=21 and vector.Age <=22) and (vector.Pclass==1 or vector.Pclass==3) or (vector.Sex == 'female') :
    if vector.Sex == 'female' and vector.Pclass != 3:
        return 1
    return 0

In [60]:
def predict_2(df_predict):
    # TODO: implement
#     df_predict['Survived'] = df_predict.apply(lambda x: 1 if x['Sex'] == 'female' and x['Pclass'] != 3 
#                        else 0, axis=1)
    return df_predict.apply(lambda x: 1 if x['Sex'] == 'female' and x['Pclass'] != 3 \
                       else 0, axis=1)
    #zusätzliches Merkmal z.B. Alter zwischen 25 und 30 
#     df_new = df_predict
#     return df_new

### Testen des Algorithmus

Testen Sie die predict() Methode mit den Datenobjekten aus dem Testdatensatz. Ermitteln sie hierzu die Korreklassifizierungsrate.

In [61]:
df_test.iloc[0].Survived

1

In [62]:
# counts true_negative, true_positive , false_negative, false_positive
def calc_accuracy(prediction_result, reality, tn, tp, fn, fp):
    true_negative, true_positive, false_negative, false_positive = tn, tp, fn, fp
    if prediction_result == reality:
        if prediction_result == 0:
            true_negative += 1
        else:
            true_positive += 1
    else:
        if prediction_result == 0:
            false_negative += 1
        else:
            false_positive += 1
    return true_negative, true_positive, false_negative, false_positive

In [67]:
# TODO: implement
true_positive = 0
true_negative = 0
false_negative = 0
false_positive = 0
right_predictions = 0
for i in range(len(df_test)):
    prediction_result = predict(df_test.iloc[i])
    reality = df_test.iloc[i].Survived
    if prediction_result == reality:
        right_predictions += 1
    true_negative, true_positive , false_negative, false_positive = calc_accuracy(prediction_result, reality, true_negative, true_positive , false_negative, false_positive)

print(f'true positives: {true_positive}')
print(f'true negatives: {true_negative}')
print(f'false negatives: {false_negative}')
print(f'false positives: {false_positive}')

print(f'accuracy: {(true_positive + true_negative)/(true_positive+true_negative+false_negative+false_positive) }')

print(f'right predictions: {right_predictions}')

true positives: 47
true negatives: 164
false negatives: 50
false positives: 1
accuracy: 0.8053435114503816
right predictions: 211

In [66]:
# 2nd Variation
df_prediction_result = predict_2(df_test)
# print(df_after_prediction)
confusion_matrix = pd.crosstab(df_prediction_result, df_test['Survived'], rownames=['Predicted'], colnames=['Actual'])
print(confusion_matrix)

tp = confusion_matrix[0][0]
tn = confusion_matrix[1][1]
fp = confusion_matrix[0][1]
fn = confusion_matrix[1][0]

accuracy = (tp + tn)/ (np.sum(np.asarray(confusion_matrix)))
print(f'Accuracy: {accuracy}')

Actual       0   1
Predicted
0          164  50
1            1  47
Accuracy: 0.8053435114503816